* { box-sizing: border-box; }

body {
	background-color: black;
	margin: 20px;
	/*width: 900px;*/
}

.photos {
	border: 1px solid #FFF3D9;
}

h1	{
	color: #FFF3D9;
}

img	{
	width: 200px;
	padding: 20px;
}

@media all and (max-width: 420px) {
	body {
		margin: auto;
	}
	h1 {
		text-align: center;
		font-size: 30px;
	}
	img {
		width: 140px;
	}
}
